@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f8d3ed;
  color: rgb(12, 11, 11);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: space-between;
}

.seat {

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #b6b6b6;
  height: 30px;
  width: 30px;
  margin: 3px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  align-self: normal;
  margin-left: 5px;
}


.seat.selected {
  background-color: #7bf881;
}

.seat.occupied {
  background-color: rgb(52, 109, 233);
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: rgb(20, 20, 20);
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: rgb(52, 109, 233);
  font-weight: bold;
}